<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key="parentTable" value="Bank" />
	  <add key="childTable" value="BankBranch" />
	  <add key="parentTableId" value="BankId" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>